:root {
  --main-color: #fefefe;
  --main-font-color: #000;
}

[data-theme="dark"] {
  --main-color: #000;
  --main-font-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.4s ease;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body.overlay-open {
  overflow: hidden;
}

.align-center {
  text-align: center;
}

.justify-center {
  justify-content: center !important;
}

header.header-login,
.body.body-login,
.footer-container.footer-login {
  width: 400px;
}

header,
.body,
.footer-container {
  width: 1280px;
  margin: 0px auto;
  transition: all 0.4s cubic-bezier(0.01, 0.43, 0, 1.35);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
header.header-login {
  text-align: center;
}

header > h1 {
  flex-grow: 1;
  font-family: "Montserrat", serif;
  font-size: 64px;
  letter-spacing: 0.27em;
  background: linear-gradient(
    92.68deg,
    #100f0f -12.74vw,
    #92d0f4 2.91vw,
    #efc988 5.1vw,
    #f4f392 7.07vw,
    #f495ad 14.07vw,
    #c37ef3 22.08vw
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header .search-bar {
  position: relative;
  overflow: hidden;
  flex-grow: 10;
  margin-right: 5%;
}

header input {
  width: 100%;
  padding: 12px 32px;
  padding-right: 72px;
  height: 47px;
  background: transparent;
  border: 1px solid #dfdfdf;
  border-radius: 22px;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-font-color);
  outline: 0;
}

header input:focus {
  border-color: #cfcfcf !important;
  background: #fafafa;
}

[data-theme="dark"] header input {
  background: transparent !important;
}

[data-theme="dark"] header input::placeholder {
  color: #e1e1e1;
}

header input:focus + .close-search,
header input.filled + .close-search {
  right: 0;
}

header .close-search {
  position: absolute;
  right: -50px;
  top: 0;
  transform: translate(-50%, 15%);
  transition: right 0.5s cubic-bezier(0.01, 0.43, 0, 1.35);
}

header .close-search svg {
  fill: black;
}

[data-theme="dark"] header .close-search svg {
  fill: white;
}

header svg {
  width: 35px;
  height: 35px;
}

header .menu {
  position: relative;
}

header .menu button {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main-font-color);
  border: none;
  font-size: 18px;
}

header .menu img {
  width: 64px;
  border-radius: 50%;
}

header .context-menu {
  position: absolute;
  right: 0;
  width: 160px;
  z-index: 9;
  display: none;
}

header .menu:hover .context-menu {
  display: block;
}

header .context-menu .dropdown-menu {
  list-style-type: none;
  background: var(--main-color);
  border-radius: 5px;
  box-shadow: 2px 4px 20px rgb(0 0 0 / 5%);
}

[data-theme="dark"] header .context-menu .dropdown-menu {
  box-shadow: 2px 4px 20px rgb(255 255 255 / 25%);
}

header .context-menu .dropdown-menu button {
  padding: 6px 12px;
  justify-content: flex-start;
  border-radius: 5px;
}

[data-theme="dark"] header .context-menu .dropdown-menu button:hover {
  background-color: #333;
}

header .context-menu .dropdown-menu button:hover {
  background-color: #e7e7e7;
}

header .context-menu .dropdown-menu svg {
  width: 18px;
  height: 18px;
}

header .context-menu button span {
  text-transform: capitalize;
}

.tooltip::after {
  display: none;
  content: attr(data-tooltip);
  position: absolute;
  background: #0f3d3e;
  border-radius: 5px;
  padding: 3px 6px;
  color: #fff;
  font-size: 12px;
  z-index: 9;
}

.tooltip:not(.form-group):hover:after,
.tooltip.form-group-keyup::after {
  display: block !important;
}

.body {
  position: relative;
  margin-top: 2%;
  padding: 75px 0;
  padding-right: 190px;
  background: url(./images/grain-texture.png);
  border: 12px solid #63636a;
  min-height: calc(100vh - 114px * 2);
}

.body.body-login {
  margin-bottom: 25px;
  padding: 41px;
  border-width: 5px;
  background: transparent;
}

[data-theme="dark"] .body.body-login {
  color: #fff;
}

.body.body-login .head {
  text-align: center;
  margin-bottom: 41px;
}

.body.body-login .head h2,
.body.body-login form .form-group {
  margin-bottom: 21px;
}

.body.body-login .head span {
  color: #979797;
}

.body.body-login form label {
  display: block;
  margin-bottom: 11px;
}

.body.body-login form input {
  font-size: 16px;
  background: #eee;
}

.body.body-login form input:focus {
  background: #e7e7e7;
}

.body.body-login form input,
.body.body-login form button {
  width: 100%;
  padding: 13px 6px;
  border: none;
  outline: none;
}

.body.body-login form button {
  margin-top: 10px;
  margin-bottom: 31px;
  font-size: 18px;
  background: #0f3d3e;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.body.body-login form button:hover,
.body.body-login form button:focus {
  background: #185555;
}

.body .notes {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 50px 2%;
  justify-items: center;
  width: 100%;
}

.body .notes.empty-notes {
  grid-template-columns: 100%;
  grid-template-rows: calc(58vh - 114px * 2);
  align-items: center;
  color: var(--main-font-color);
}

.body .note-item,
.body .note-item.note-item-archive {
  filter: blur(0);
  width: 224px;
  position: relative;
  left: 0;
  top: 0;
  transform: scale(1) translateY(0%);
  animation: hidenote 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.body .note-item-skeleton {
  background: #c9c9c9;
  overflow: hidden;
  height: 224px;
  animation: none;
}

.body .note-item-skeleton::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: skeleton 1.5s infinite;
}

@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

.body .note-item.hide-note {
  position: absolute;
  left: 83%;
  transform: scale(0.1) translateY(-50%);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes hidenote {
  from {
    position: absolute;
    left: 83%;
    transform: scale(0.1) translateY(-50%);
  }
  to {
    position: relative;
    left: 0;
    transform: scale(1) translateY(0%);
  }
}

.body .note-item.note-item-filter,
.body .note-item.note-item-archive.note-item-archive-show.note-item-filter {
  filter: blur(6px);
  cursor: default !important;
}

.body .note {
  display: block;
  position: relative;
}

.body .note-1 {
  transform: rotate(-3.5deg);
}

.body .note-2 {
  transform: rotate(-15.5deg);
}

.body .note-3 {
  transform: rotate(7.5deg);
}

.body .note-6 {
  transform: rotate(-9.5deg);
}

.body .note-7 {
  transform: rotate(8deg);
}

.body .note-8 {
  transform: rotate(15deg);
}

.body .note h4 {
  position: absolute;
  top: 30%;
  left: 15px;
  right: 15px;
  color: #100f0f;
}

.body .note svg,
.not-found svg {
  filter: drop-shadow(7px 11px 14px rgba(0, 0, 0, 0.25));
}

.body .note-1 svg {
  fill: #c37ef3;
}

.body .note-2 svg {
  fill: #92f4ad;
}

.body .note-3 svg {
  fill: #92d0f4;
}

.body .note-4 svg {
  fill: #f4f392;
}

.body .note-5 svg {
  fill: #efc988;
}

.body .note-6 svg {
  fill: #bebfd9;
}

.body .note-7 svg {
  fill: #f495ad;
}

.body .note-8 svg {
  fill: #f7d5b0;
}

.body .note-archive,
.body .note-pin {
  position: absolute;
  z-index: 9;
}

.body .note-archive {
  right: 10%;
  bottom: 7%;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.01, 0.43, 0, 1.35);
}

.body .note-archive.tooltip::after {
  right: 0;
  transform: translate(10px, 10px);
}

.body .note-item:hover .note-archive,
.body .note-item.note-item-archive.note-item-archive-show .note-archive {
  opacity: 1;
}

.body .note-pin {
  top: -10%;
}

.body .note-pin a {
  position: relative;
  display: block;
}

.body .note-pin a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 2px;
  width: 5px;
  height: 5px;
  background: #595454;
  filter: blur(3px);
}

.body .note-1 + .note-pin {
  right: 9%;
}

.body .note-2 + .note-pin {
  right: 10%;
}

.body .note-3 + .note-pin {
  left: 25%;
}

.body .note-4 + .note-pin {
  left: 50%;
}

.body .note-5 + .note-pin {
  left: 20%;
}

.body .note-6 + .note-pin {
  right: 0;
}

.body .note-7 + .note-pin {
  left: 14%;
}

.body .note-8 + .note-pin {
  left: 18%;
}

.body .note-pin svg {
  width: 44px;
  fill: #0f3d3e;
}

.body .note-archive svg {
  width: 32px;
  fill: #fff;
}

.body .note-toggle {
  position: absolute;
  right: 3%;
  top: 3%;
}

.body .note-toggle img {
  width: 128px;
}

.body .note-toggle span,
.overlay .action-archive span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  color: #100f0f;
  letter-spacing: 0.3em;
}

footer {
  width: 100%;
  background: #0f3d3e;
  padding: 24px;
  min-width: 1280px;
}

footer.footer-login {
  min-width: 400px;
}

footer .copyright {
  color: #b9bad3;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .note-add {
  width: 72px;
  margin-right: 15%;
  position: relative;
}

footer .note-add svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 30%) rotate(17deg);
  color: #cb7e35;
}

.overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: baseline;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  animation: scale 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.overlay.overlay-note-add,
.overlay.overlay-note-edit {
  transform: scale(1);
}

.overlay-form {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 20px 22px;
  margin-top: 2.5%;
}

.actions {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.actions svg {
  width: 38px;
}

.actions button {
  border: none;
  cursor: pointer;
}

.action-pin svg path:first-child {
  fill: #bebfd9;
}

.action {
  margin: 0px 5px;
  position: relative;
}

.action::after {
  transform: translate(-15%);
  bottom: -50%;
  left: 0;
}

.action-archive svg {
  fill: #199661;
}

.actions,
.form-add-note {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 5px;
}

.form-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  color: #100f0f;
  font-family: inherit;
}

.form-input-title {
  padding: 6px 0px;
  border-bottom: 1px solid #100f0f;
  font-size: 16px;
}

.form-input-body {
  padding: 0;
  font-size: 14px;
  width: 733px;
  height: 60vh;
  max-height: 550px;
  line-height: 1.91;
  color: #0f3d3e;
  background-image: url(./images/line.png);
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: local;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.form-input-body::after {
  content: attr(data-placeholder);
  color: #706f6f;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.action-save svg {
  width: 25px;
}

.action-save button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 5px;
  background: #199661;
  color: #fff;
  display: flex;
  align-items: center;
}

.not-found {
  width: 733px;
  margin: 0px auto;
  text-align: center;
}

.not-found h1 {
  margin: 7% 0;
  font-size: 32px;
  color: #b9a999;
}

.not-found svg {
  fill: #0f3d3e;
  width: 250px;
}

.loading-authed {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-40%, -50%);
  z-index: 9;
}

.loading {
  position: relative;
  width: 300px;
  color: var(--main-font-color);
}

.gooey {
  position: absolute;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: #fff;
  filter: contrast(20);
  left: 35%;
  top: 50px;
}

[data-theme="dark"] .gooey {
  background: #100f0f;
}

.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: var(--main-font-color);
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: var(--main-font-color);
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
